<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeaseMates: 임차인들을 위한 정보공유공간</title>
    <link rel="stylesheet" href="/default.css">

    <!-- 화면 확인 위함 -->
<!--    <link rel="stylesheet" href="/static/user/logIn/logIn.css">-->
<!--    <script defer src="/static/user/logIn/logIn.js"></script>-->

    <!-- 타임리프 매핑 -->
    <link rel="stylesheet" href="/userVO/logIn/logIn.css">
    <script defer src="/userVO/logIn/logIn.js"></script>
</head>
<body>
  <div id="header-placeholder"></div>
    <main>
        <section class="login_form">
            <div class="outer">
                <div class="inner">

                    <div id="index-container">
                        <h1>로그인</h1>

                        <div>
                            <fieldset>
                                <input type="text" id="id" placeholder="아이디" required/>
                                <p id="idResult"></p>
                            </fieldset>
                            <fieldset>
                                <input type="password" id="password" placeholder="비밀번호" required/>
                                <p id="pwResult"></p>
                            </fieldset>

                            <div id="checkIdAndPw"></div>

                            <button type="submit" class="login--button">로그인</button>
                            <br>
                            <button type="button" class="signup--button">회원가입</button>
                            <br>
                            <button type="button" class="find-pw--button">비밀번호 찾기</button>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

  <div id="footer-placeholder"></div>
</body>
</html>