<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{commons/layout}">
<head>
    <!--    <link rel="stylesheet" th:href="@{/css/user/login.css}">-->
    <!--    <script defer th:src="@{/js/user/login.js}"></script>-->
</head>
<body>
<div layout:fragment="content">
    <div>내 게시글 보는 페이지</div>

</div>
</body>
</html>