<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="outer">
        <div class="inner">
            <div class="header--left">
                <a href=""><div class="header--left-logo e">LEASEMATE</div></a>
                <a href=""><div class="header--left-community e">커뮤니티</div></a>
                <a href="" onclick="alert('준비중입니다')"><div class="header--left-barter e">물물교환</div></a>
                <a href="" onclick="alert('준비중입니다')"><div class="header--left-sharehouse e">내집공유</div></a>
            </div>
            <div class="header--right">
                <div class="header--right-search e">
                    <span class="material-symbols-outlined">search</span>
                    <input type="text" placeholder="관심있는 내용을 검색해 보세요!">
                </div>
                <a th:href="@{/user/login}"><div class="header--right-login e">로그인</div></a>
                <a th:href="@{/user/join}"><div class="header--right-signup e">회원가입</div></a>
            </div>
        </div>
    </div>
</header>
</html>