<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<section th:fragment="info_header">
    <div class="outer">
      <div class="inner">

        <div class="userinfo_header">
          <div class="user_name" th:text="'안녕하세요, ' + ${#authentication.principal.userVO.name} + '님!'"></div>
        </div>

        <div class="userinfo_menu">
          <a th:href="@{/user/info}"><div class="profile">프로필</div></a>
          <a th:href="@{/user/myposts}"><div class="myposts">작성게시글</div></a>
          <!-- <a href="#"><div class="index-comment">작성댓글</div></a> -->
          <a href="../edit/info_change/info_change.html"><div class="change_info">내 정보변경</div></a>
          <a href="/userVO/profile/edit/pw/pw.html"><div class="change_pw">비밀번호 변경</div></a>
          <a href="#" onclick="alert('준비중입니다')"><div class="chat_box">쪽지함</div></a>
        </div>
      </div>
    </div>
</section>
</html>