<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LeaseMates: 임차인들을 위한 정보공유공간</title>
    <link rel="icon" href="/img/favicon.ico">

  <script defer src="/고칠것/commu/post/edit_test/detail_like.js"></script>
  <script type="module" src="/고칠것/commu/post/edit_test/detail_cmt_test.js"></script>

  <link rel="stylesheet" href="/고칠것/commu/post/edit_test/detail.css">
  <link rel="stylesheet" href="/고칠것/commu/post/edit_test/detail_cmt.css">

  <script type="module" src="/고칠것/temp/header/after_login/add.js"></script>
  <script type="module" src="/고칠것/temp/footer/add.js"></script>
  <script type="module" src="/고칠것/temp/main_banner/add.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="header-placeholder"></div>

  <main>
    <div id="main-banner"></div>

    <div class="outer">
      <div class="inner">

        <div class="detail-container">
          <p class="theme-title">커뮤니티</p>
          <p class="content-title" th:text="${postDetailDTO.postVO.title}"></p>
          <div class="name-time">
            <p class="writer-name" th:text="${postDetailDTO.postVO.userNo} + '님'"></p>
            <p class="written-time" th:text="${postDetailDTO.postVO.updatedAt}"></p>
          </div>
          <div class="heart-count">
            <span class="material-icons">thumb_up_off_alt</span><p th:text="${postDetailDTO.postVO.likeCnt}"></p>
            <span class="material-symbols-outlined">mode_comment</span><p th:text="${postDetailDTO.postVO.cmtCnt}"></p>
          </div>
        </div>

        <div class="board-container">

<!--          게시글 내용-->
          <p class="board-content" th:utext="${postDetailDTO.postVO.content}"></p>

          <div class="edit-container">
            <a href="/고칠것/commu/post/edit/edit.html"><div class="edit-btn">게시글 수정</div></a>
            <a href="/고칠것/commu/index/before/before.html"><div class="edit-btn">게시글 삭제</div></a>
          </div>

          <div>
            <span class="material-icons thumb_up_icon" th:attr="data-check_like=${postDetailDTO.checkLike}"></span>
            <div class="like_cnt" th:text="${postDetailDTO.postVO.likeCnt}"></div>
          </div>
        </div>

        <div class="board-comment-container">
          <p class="comment-p">댓글</p>

          <div class="comment-form">
            <input type="text" placeholder="댓글을 작성해주세요." id="input_cmt">
            <button id="submit">게시</button>
          </div>

          <div id="comment-content"></div>
          <div id="pagination"></div>
        </div>

      </div>
    </div>

  </main>

  <div id="footer-placeholder"></div>
</body>
</html>