.category{
    display: flex;
    justify-content: space-between;

    margin: 30px 0;
}

.category p {
    font-size: 20px;
    color: #8976FD;
    font-weight: 500;
}

.write--button {
    padding: 2px 5px;
    border: 1px solid #8976FD;
}

.write--button span {
    font-size: 15px;
    font-weight: 500;
    color: #8976FD;
}

.material-symbols-outlined {
    color: #8976FD;
    width: 20px;
    height: 20px;

    position: relative;
    top: 3px;
}

.post .material-symbols-outlined {
    color: #CACACA;
    padding-left: 10px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 40px;
}

.post--title {
    display: flex;
    justify-content: center;
}

.post--title-name {
    display: block;
    margin-left: 10px;
    font-size: 18px;

}

.post--title .picture_icon {
    height: 20px;
    transform: translateY(-25%);
}

.like{
    position: relative;
    left: 550px;
}

.like-count,
.comme-count{
    font-size: 20px;
    color: #CACACA;
    padding: 10px;
}

.list-index{
    text-align: center;
    margin-top: 40px;
}

.list-index a{
    text-decoration: none;
    color: #6E6E6E;
    font-size: 25px;
    margin: 10px;

}