.page_block {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px 0 50px 0;
}

.page_block span {
    display: block;
}

.page_block .page {
    margin: 0 3px;
    width: 25px;
    height: 25px;

    line-height: 25px;
    text-align: center;

    border:1px solid #8976FD;
    background-color: white;

    cursor: pointer;
}

.page_block .active {
    background-color: #8976FD;
    color: #ffffff;
}