<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiveis.leasemates.repository.UserRepository">
    <select id="findNameByUserNo" parameterType="String" resultType="String">
        SELECT name FROM tbl_user
        where user_no = #{userNo}
    </select>

    <select id="findByUserId" parameterType="String" resultType="UserVO">
        SELECT * FROM tbl_user
        where id = #{id}
    </select>

    <insert id="createUser" parameterType="UserVO">
        insert into tbl_user(user_no, id, password, role, name, email, phone_number, created_at)
        values(#{userNo}, #{id}, #{password}, #{role}, #{name}, #{email}, #{phoneNumber}, to_char(sysdate, 'YYYY.MM.DD HH24:MI:SS'))
    </insert>

    <select id="userPostPagination" parameterType="map" resultType="PostDTO">
        <![CDATA[
        SELECT *
        FROM (select ROWNUM post_rownum,
                     POST_NO,
                     USER_NO,
                     TITLE,
                     CREATED_AT,
                     UPDATED_AT,
                     IS_UPDATED,
                     CONTENT,
                     LIKE_CNT,
                     CMT_CNT
              from (SELECT * FROM TBL_COMMUNITY_POST WHERE user_no = #{userNo} ORDER BY UPDATED_AT desc, post_no desc) )
        WHERE post_rownum BETWEEN #{pageable.pageSize} * (#{pageable.page} - 1) + 1 AND #{pageable.pageSize} * #{pageable.page}
        ]]>
    </select>

    <select id="findMyPostAllCount" parameterType="String" resultType="int">
        SELECT count(*) FROM tbl_community_post WHERE user_no = #{userNo}
    </select>

    <update id="updateUserInfo" parameterType="UserVO">
        update TBL_USER
        set ID = #{id}, NAME =#{name}, EMAIL = #{email} , PHONE_NUMBER = #{phoneNumber}
        where user_no = #{userNo}
    </update>

    <update id="updateUserPw" parameterType="map">
        update TBL_USER
        set PASSWORD = #{password}
        where user_no = #{userNo}
    </update>
</mapper>